// Override Bootstrap variables in this file, e.g.

// Basics
$font-size-base:  20px;
$font-color: #000;
$link-color: #f00;
$hover-color: #f00;


$section-title-font-size: $font-size-base*0.5;

$paragraph-lead-font-size: $font-size-base*1.3;
$paragraph-margin-bottom: 60px;


$article-header-margin-bottom: 18px;
$article-header-padding-bottom: 0;
$article-header-border-size: 1px;
$article-header-border-color: rgba(226, 226, 226, 0.4);
$article-header-font-size: $font-size-base*2;

$article-preview-title-font-size: $font-size-base*0.7;


$icon-group-link-font-size: $font-size-base*0.7;